//about.php

  .page-template-about{
    .site{
      .site-content{
        width: 100vw;
        .content-area{
          margin-top: 0;
          border: none; 
          width: 100%;
          .site-main{
            width: 100%;
            margin: 0;
            article{
              padding: 0;
              .entry-header{
                height: 100vh;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;	
                position: static;
                .entry-title{
                  position: static;
                  background: none;
                }
              }
              .entry-content{
                width: 800px;;
                margin: 3rem auto;
                h2{
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }



