/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

// Width of content area
.site-main{
	width: $site__width;
	margin-top: 60px;
}

/* Posts and pages */

article{
	padding: 30px;
}

//header (img, title, meta) for posts
.entry-header{
	position: relative;
	.entry-title{
		position: absolute;
		bottom: 340px;
	}
	.entry-meta{
		position: absolute;
		bottom: 9px;
		left: 339px;
	}
	.wp-post-image{
		width: 800px;
		max-width: 100%;
	}
}//end .entry-header

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
