/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

// Width of content area
.site-main{
	width: $site__width;
	margin-top: 60px;
}

/* Posts and pages */

article{
	padding: 30px;
}

//header (img, title, meta) for posts
.entry-header{
	position: relative;
	.entry-title{
		position: absolute;
		bottom: 320px;
		max-width: 75%;
		padding: 15px;
	}
	.entry-meta{
		position: absolute;
		bottom: 8px;
		left: 302px;
		text-align: right;
		width: 100%;
	}
	.wp-post-image{
		width: 800px;
		max-width: 100%;
	}
}//end .entry-header

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.depth-1{
	border-bottom: $solid__border;
}

.comments-area{
	.comment-list{
		margin: 0;
		padding: 0;
			.comment-body{
				display: flex;
				.comment-author-avatar{
					padding-right: 30px;
					img {
						border-radius: 50%;
					}
				}
				.comment-content{
					.comment-author{
						text-transform: capitalize;
						font-weight: bold;
					}
					.comment-metadata{
						color: $color__brand-light-grey
					}
				}
			}
			.children{
				border-top: $solid__border;
			}
	}
}
