/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

//layout
 .comment-form{
	.comment-form-author, .comment-form-email{
		width: 49%;
		display: inline-block;
		label{
			display: block;
			.required{
				color: $color__brand-orange;
			}
		}
		input{
			width: 90%;
		}
	}

	.comment-form-url{
		width: 100%;
		label{
			display: block;
		}
		input{
			width: 100%;
		}
	}
 }

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__brand-green;
	color: white;
	padding: 8px 20px;
	font-family: $font__headings;
	text-transform: uppercase;

	&:hover {
		background: darken($color__brand-green, 10%)
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	background: rgb(225, 225, 225);
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: $font__main;
	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

//labels
	.comments-area{
		label{
			font-family: $font__headings;
			text-transform: uppercase;
			font-size: 1.1rem;
		}
	}

// styling for 404 search bar
	.error404{
		.search-form{
			fieldset{
				border: none;
				padding-left: 0;
				input{
					border-radius: 0px;
					border: $solid__border;
					background: #f4f4f4;
				}
			}
		}
	}
