/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
//header style
.site-header{
	width: 100vw;
	min-width: $site__width;
	border-bottom: $solid__border;
	height: 60px;
	position: fixed;
	background: rgba(255, 255, 255, 0.8)
}

.nav-container{
	display: flex;
	align-content: center;
	justify-content: space-between;
	width: $site__width;
	margin: 0 auto;
	align-items: center;
}

.nav-logo{
	background:url("../../images/logo/inhabitent-logo-tent.svg"),;
	background-size: contain;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

//custom nav bar for home page and about page
.page-template-about, .home{
	.site-header{
		background: none;
		border: none;
		position: absolute;
		.menu-item a{
			color: white;
			&:hover{
				color: $color__brand-orange;
			}
		}
	}
}

.home .nav-logo, .page-template-about .nav-logo
{
	background:url("../../images/logo/inhabitent-logo-tent-white.svg"),;
	background-size: contain;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

.main-navigation ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	li{
		padding: 15px;
	}
}

/* Links */

a {
	color: $color__brand-green;
	text-decoration: none;

	&:visited {
		// color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */
ul {
	list-style: none;}

.primary-menu{
	ul{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		li{
			display: inline-block;
			width: 100px;
			color: red;
		}
	}
}

