/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

//layout for home.php, page.php, single.php and archive.php

	.blog, .page, .single, .single-post, .archive, .error404{
		.site-content{
			margin: 0 auto;
			.content-area{
				width: 70%;
				border-right: $solid__border;
				margin-top: 60px;
				.site-main{
					width: 100%;
					.page-header{
						width: 100%;
						h1{
							width: 95%;
							text-align: left;
							border-bottom: $solid__border;
						}

					}
					article{
						width:100%;
						padding-left: 0;
						.entry-footer{
							background: none;
							text-transform: uppercase;
							color: $color__text-main;
							font-family: $font__headings;
							.cat-links{
								margin-right: 20px;
							}
						}
						.black-btn{
							&::after{
								content: "\00a0\2192";
							}
						}
					}
					.social-share{
						width: 100%;
						text-align: left;
						padding: 0 30px;
					}
					.comments-area{
						width: 100%;
						padding: 30px;
						text-align: left;
					}
				}
			}
			.widget-area{
				width: 30%;
				margin-top: 60px;
				//widget styling in widgets.scss
			}
		}
	}





//front-page.php

	//custom page layout for front page content
		.home {
			.site-content{
				width: 100vw;
				.content-area{
					border: none;
					margin-top: none;
					width: 100%;
					.site-main{
						margin: 0 auto;
						.home-hero{
							width: 100vw;
							height: 100vh;
							display: flex;
							justify-content: center;
							align-items: center;
							background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)), url("../../images/home-hero.jpg");
							background-size: cover;
							background-repeat: no-repeat;
						}
					}
				}
			}
		}
	
	//layout for Shop Stuff section
		.home{
			.shop-stuff{
				min-width: $site__width;
				.product-type-blocks{
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					align-items: center;
					.product-type-block-wrapper{
						border: $solid__border;
						border-top: 5px solid #e1e1e1;
						max-width: 23%;
						display: flex;
						flex-direction: column;
						align-items: center;
						padding: 10px;
						text-align: center;
						&:hover{
							border-color: $color__brand-orange;
						}
						img{
							height: 80px;
						}
						.btn{
							display: block;
							background: $color__brand-green;
							color: white;
							width: 135px;
							padding: 12px 0;
							text-transform: uppercase;
							margin: none;
							&:hover{
								background: darken($color__brand-green, 10%);
							}
						}
					}
				}
			}
		}

	//layout for journal section in front page
		.home{
			.inhabitent-journal{
				ul{
					margin: 0;
					padding: 0;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					li{
						border: $solid__border;
						margin-bottom: 12px;
						width: 32%;
						.img{
							height: 250px;
						}
						.entry-meta{
							background: none;
							max-width: 100%;
							min-height: 150px;
							display: flex;
							flex-direction: column;
							position: relative;
							div{
								flex-basis: 20%;	
							}
							.entry-title{
								position: static;
								background: none;
								margin: 0;
								max-width: 100%;
								text-align: left;
								padding: 7px 0 18px 0px;
								width:100%;
								flex-basis: 40%;
								a{
									color: $color__brand-green;
									width: 100%;
								}
							}
							.black-btn-wrapper{
								position: absolute;
								bottom: 13px;

							}
						}	
					}
				}
			}
		}

		.home .site-content .content-area{
			margin-top: 0;
		}


//archive-product.php

	.post-type-archive-product{
		.site-content{
			width: $site__width;
			margin: 0 auto;
			.content-area{
				margin: 0;
				width: 100%;
				border: none;
				.product-list{
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					margin-bottom: 4rem;
					.type-product{
						width: 24%;
						border: $solid__border;
						padding: 0;
						margin: 5px;
						.entry-header{
							position: static;
							overflow: hidden;
							display: flex;
							flex-direction: column;
							align-items: center;
							border-bottom: solid #e1e1e1 4px;
							img{
								max-height: 250px;
								max-width: none;
								width: auto;
							}
						}
						.entry-title{
							// position: static;
							&::after{
								width:100%;
								padding-right: 1rem;
								content: '...';
							}
						}
						.entry-content{
							display: flex;
							justify-content: space-between;
							padding: 15px 10px;
							margin: 0;
						}
					}
				}
			}
		}
	}

	//this is to override .page-title styling for regular archive page
	.post-type-archive-product{
		.site{
			.site-content{
				.content-area{
					.site-main{
						.page-header{
							.page-title{
								text-align: center;
								border-bottom: none;
							}
						}
					}
				}
			}
		}
	}

	.post-type-archive-product{
		.page-header{
			width: $site__width;
			text-align: center;
			border-bottom: $dashed__border;
			padding: 1.5rem;
			margin-bottom: 3rem;
			.shop-stuff{
				width: 50%;
				margin:0 auto;
				min-width: 500px;
				.product-type-blocks{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
				}
			}
		}
	}

//about.php

	.page-template-about{
		.site{
			.site-content{
				width: 100vw;
				.content-area{
					margin-top: 0;
					width: 100%;
					.site-main{
						width: 100%;
						margin: 0;
						article{
							padding: 0;
							.entry-header{
								height: 100vh;
								display: flex;
								justify-content: center;
								align-items: center;	
							}
							.entry-content{
								width: 800px;;
								margin: 3rem auto;
								h2{
									text-align: center;
								}
							}
						}
					}
				}
			}
		}
	}

	.page-template-about .entry-header{
		position: static;
		display: block;
		width: 100vw;
		height: 100vh;
	}
	.page-template-about .entry-title{
		position: static;
		background: none;
	}

	.page-template-about .content-area{
		border: none; 
		width: 100%;
	}


//Special layout changes for Find Us page
.page-id-49{
	.site-main{
		margin-top: 0;
		.entry-title{
			position: static;
			background: none;
			color: $color__brand-purple;
			padding: 0;
			font-size: 2.4rem;
		}
	}
}

// 404

	.error404{
		.site-content{
			.content-area{
				.site-main{
					.error-404{
						.page-header{
							.page-title{
								border: none;
							}
						}
					}
				}
			}
		}
	}

	.error404{
		.site-main{
			margin-bottom: 80px;
			.widget{
				margin: 50px 0;
				ul{
					margin: 0;
					padding: 0;
					li{
						padding: 2px 0;
					}
				}
			}
		}	
	}



