/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

//layout for archive.php, page.php, single.php

.content-area{
  width: 70%;
	border-right: $solid__border;
	margin: 0 auto;
}

.widget-area{
	width: 29%;
}

//front-page.php


	//custom page layout for front page content
		.home {
			.site-content{
				width: 100vw;
				.content-area{
					border: none;
					margin-top: none;
					width: 100%;
					.site-main{
						margin: 0 auto;
						.home-hero{
							width: 100vw;
							height: 100vh;
							display: flex;
							justify-content: center;
							align-items: center;
							background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)), url("../../images/home-hero.jpg");
							background-size: cover;
							background-repeat: no-repeat;
						}
					}
				}
			}
		}
	
	//layout for Shop Stuff section
		.home{
			.shop-stuff{
				min-width: $site__width;
				.product-type-blocks{
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					align-items: center;
					.product-type-block-wrapper{
						border: $solid__border;
						border-top: 5px solid #e1e1e1;
						max-width: 23%;
						display: flex;
						flex-direction: column;
						align-items: center;
						padding: 10px;
						text-align: center;
						&:hover{
							border-color: $color__brand-orange;
						}
						img{
							height: 80px;
						}
						.btn{
							display: block;
							background: $color__brand-green;
							color: white;
							width: 135px;
							padding: 12px 0;
							text-transform: uppercase;
							margin: none;
							&:hover{
								background: darken($color__brand-green, 10%);
							}
						}
					}
				}
			}
		}

	//layout for journal section in front page
		.home{
			.inhabitent-journal{
				ul{
					margin: 0;
					padding: 0;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					li{
						border: $solid__border;
						margin-bottom: 12px;
						width: 32%;
						.img{
							height: 250px;
						}
						.entry-meta{
							background: none;
							max-width: 100%;
							min-height: 150px;
							display: flex;
							flex-direction: column;
							position: relative;
							div{
								flex-basis: 20%;	
							}
							.entry-title{
								position: static;
								background: none;
								margin: 0;
								max-width: 100%;
								text-align: left;
								padding: 7px 0 18px 0px;
								width:100%;
								flex-basis: 40%;
								a{
									color: $color__brand-green;
									width: 100%;
								}
							}
							button{
								background: none;
								border: none;
								box-shadow: none;
								margin: 0;
								padding: 0;
								position: absolute;
								bottom: 13px;
								.black-btn{
									display: block;
									border: 1px solid black;
									font-family: $font__headings;
									font-size: 0.9rem;
									width: 125px;
									padding: 8px 0px;
									color: black;
									text-align: center;
									flex-basis: 40%;
									background: none;
								}
							}
						}	
					}
				}
			}
		}


//archive.php

//about.php



.page-template-about{
	.site-content{
		width: 100vw;
		.content-area{
			.site-main{
				width: 100%;
				margin: 0;
				article{
					padding: 0;
					.entry-header{
						height: 100vh;
						display: flex;
						justify-content: center;
						align-items: center;	
					}
					.entry-content{
						width: 800px;;
						margin: 3rem auto;
						h2{
							text-align: center;
						}
					}
				}
			}
		}
	}
}

.page-template-about .entry-header{
	position: static;
	display: block;
	width: 100vw;
	height: 100vh;
}
.page-template-about .entry-title{
	position: static;
	background: none;
}

.page-template-about .content-area{
	border: none; 
	width: 100%;
}


/* Front page */
