/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

//layout for archive.php, page.php, single.php
.site-content{
	display: flex;
	justify-content: space-around;
}

.content-area{
  width: 70%;
	border-right: $solid__border;
	margin: 0 auto;
}

.widget-area{
	width: 29%;
}

//archive.php

//about.php

.page-template-about .entry-header{
	position: static;
	display: block;
	width: 100vw;
	height: 100vh;
}
.page-template-about .entry-title{
	position: static;
	font-size: 3rem;
	background: none;
	color: black;
}

.page-template-about .content-area{
	border: none; 
	width: 100%;
}


/* Front page */
