//Find Us page
  .page-template-default{
    .site-main{
      margin-top: 0;
      iframe{
        width: 100%;
        height: 400px;
      }
      .entry-title{
        position: static;
        background: none;
        color: $color__brand-purple;
        padding: 0;
        font-size: 2.4rem;
      }
    }
  }