/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget-area{
	padding: 30px;
	.textwidget{
		p{
			padding: 10px;
			display: flex;
			align-items: center;
			a, code{
				padding-left: 15px;
				height: 100%;
				color: $color__brand-green;
			}
			code{
				font-family: $font__main;
			}
		}
	}
	.business_hours_widget-class{
		p{
			padding: 8px 0;
			span{
				font-weight: bold;
			}
		}
	}
	.widget_archive{
		ul{
			margin: 0;
			padding: 0;
		}
	}
}

.widget {

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	.widget-title{
		font-size:1.5rem;
		color: $color__brand-purple;
		background: none;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
